<footer class="fl w-100 bb bw3">
  <div class="w-100 bt b--black-30"></div>

  <div class="center mw9 pa3 flex flex-column flex-wrap-m flex-row-ns">

    <div class="flex-auto pv2 ph4-ns ph3 w-30-ns w-50-m">
      <h3>À propos</h3>
      <ul class="list pl0">

        {% for post in site.categories.qui-sommes-nous %}

          <li class="pv1"><a class="link dim near-black" href="{{ post.url }}">{{ post.title }}</a></li>

        {% endfor %}
        
      </ul>
    </div>
    
    <div class="flex-auto pv2 ph4-ns ph3 w-30-ns w-50-m">

      <h3>Ils nous soutiennent</h3>
      <ul class="list pl0">
        {% for subvention in site.data.subventions %}
          <li class="pv1"><a class="link dim near-black" href="{{ subvention.url }}">{{subvention.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="flex-auto pv2 ph4-ns ph3 w-30-ns w-50-m">

      <h3>Nos partenaires</h3>
      <ul class="list pl0">
        {% for sponsor in site.data.sponsors %}
          <li class="pv1">{{sponsor.name}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="flex-auto pv2 ph4-ns ph3 w-30-ns w-50-m">

      <h3>Restons en contact</h3>
      <ul class="list pl0">
        {% for rezo in site.data.social %}
          {% capture rezotype %}{{rezo.type}}{% endcapture %}
          {% capture rezoname %}{{rezo.name}}{% endcapture %}
          {% include social2.html type=rezotype name=rezoname %}
        {% endfor %}
      </ul>
    </div>

  </div>

</footer>