{% if include.type == 'facebook' %}
<li class="pv1">
  <a class="link dim near-black" target="_blank" href="https://www.facebook.com/{{ include.name| cgi_escape | escape }}">
    <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg> 
    <span class="name">{{ include.name| escape }}</span>
  </a>
</li>
{% endif %}

{% if include.type == "instagram" %}
  <li class="pv1">
    <a class="link dim near-black" target="_blank" href="https://instagram.com/{{ include.name| cgi_escape | escape }}">
      <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg>
      <span class="name">{{ include.name| escape }}</span>
    </a>
  </li>
{% endif %}

{% if include.type == "twitter" %}
  <li class="pv1">
    <a class="link dim near-black" target="_blank" href="https://www.twitter.com/{{ include.name| cgi_escape | escape }}">
      <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>
      <span class="name">{{ include.name| escape }}</span>
    </a>
  </li>
{%- endif -%}

{%- if include.type == "youtube" -%}
  <li class="pv1">
    <a class="link dim near-black" target="_blank" href="https://youtube.com/{{ site.youtube_name| cgi_escape | escape }}">
      <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg>
      <span class="name">{{ include.name| escape }}</span>
    </a>
  </li>
{%- endif -%}

{%- if include.type == "rss" -%}
  <li class="pv1">
    <a class="link dim near-black" target="_blank" href="{{ 'feed.xml' | relative_url }}">
      <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg>
      <span>{{ include.name| escape }}</span>
    </a>
  </li>
{%- endif -%}