
:root{
  --light-bg-color:#FAFBFB;
  --primary-color:#007ABD;
  --secondary-color:#04B3DE;
  --third-color:#EB008D;
}
:root.test2{
  --third-color:#0c00eb;
  --secondary-color:#d0daef; 
}

#sponsors{background-color: var(--light-bg-color, #FAFBFB);}

header, footer {
  -o-border-image: linear-gradient(90deg, var(--primary-color, #04B3DE), var(--secondary-color, #EB008D)) 1;
  border-image: linear-gradient(90deg, var(--primary-color, #04B3DE), var(--secondary-color, #EB008D)) 1;
}

.pinned{
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.pinned::before, .pinned::after{
  content: "❗";
  position: absolute;
  font-size: 2.25rem;
  top:0;bottom:0;
  display: flex;
  align-items: center;
  filter: hue-rotate(200deg);
}
.pinned::before{left:0}
.pinned::after{right:0}

footer {
  bottom:0;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color: var(--secondary-color, #DDD);
}

nav {
  background-color: var(--secondary-color, #DDD);
  
  a {
  svg { fill: var(--third-color, #EB008D);}

  .brand-image {
    height: 80px;
    object-fit:cover;
    object-position: left;
    width: 50px;      

    @media screen and (min-width: 50em) {
      display: block;
      object-fit:contain;
      width:auto;
    }
  }
}


}

.svg-icon {
  display:inline-block;
  width:18px;
  height:18px;
  vertical-align: bottom;
}